.container {
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;

  .resize {
    min-height: 300px;
    position: relative;

    .resizer {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: #303030;
      cursor: col-resize;
    }
  }
}
