.container {
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  overflow-y: hidden;
  user-select: none;

  .resize {
    min-height: 300px;
    position: relative;

    .resizer {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: #303030;
      cursor: col-resize;
      transition: all .3s ease;
      &:hover, &:active {
        width: 5px;
        box-shadow: 0 0 15px #151515;
      }
    }
  }
}
