.flex {
  display: flex;

  &.justify-content-between {
    justify-content: space-between;
  }
  
  &.align-center {
    align-items: center;
  }

  &.middle {
    justify-content: center;
    align-items: center;
  }
}
