.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 410px;
    min-height: 374px;
    padding: 15px;
    border: 1px solid #343434;
    background: #1b1b1b;
    border-radius: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

    .input {
      width: 350px;
    }
  }
}
