@import "../../styles/responsive";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #151515;
  .logo {
    & > * {
      margin: 0 5px;
    }
    img {
      width: 40px;
      height: 40px;
      @include respond-below(xs) {
        display: none;
      }
    }
    .button {
      @media (max-width: 575px) {
        display: none;
      }

      &-side {
        display: none;
        @media (max-width: 575px) {
          display: inline-block;
        }
      }
    }
  }

  .options {
    @media (max-width: 575px) {
      display: none;
    }

    &-sm {
      display: none;
      margin: 0 15px;

      @media (max-width: 575px) {
        display: inline-block;
      }
    }
  }
}
