$primary-font: "Fira Code", sans-serif;
$font-light: 300;
$font-regular: normal;
$font-meidum: 500;
$font-semibold: 600;
$font-bold: bold;

// Partials

@import "./styles/flex";
@import "./styles/responsive";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: $primary-font;
}

main {
  &.admin {
    padding-top: 75px;

    &.table {
      padding-right: 25px;
      padding-bottom: 25px;
      overflow: hidden;
      overflow-x: auto;
      &.collapsed {
        padding-left: 100px;
      }
      @media (max-width: 575px) {
        padding-left: 25px;
      }
    }
  }
}

.p-top {
  padding-top: 75px;
}

.p-left {
  padding-left: 250px;

  &.collapsed {
    padding-left: 100px;
    transition: padding-left 0.5s ease-in;
  }
  @media (max-width: 575px) {
    padding-left: 25px;
  }
}

.p-right {
  padding-right: 25px;
}

// Disable auto-fill box-shadow webkit browsers

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1b1b1b inset;
  transition: background-color 5000s ease-in-out 0s;
}
