$primary-font: "Fira Code", sans-serif;
$font-light: 300;
$font-regular: normal;
$font-meidum: 500;
$font-semibold: 600;
$font-bold: bold;
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: $primary-font;
}
